@import "../../app.scss";

.input-container {
  input {
    height: 60px;
    border-radius: 15px 0 0 15px;
    padding: 25px;
    color: $VeryDarkGray;
    font-weight: 400;
    &:focus {
      border: none;
    }
  }
  button {
    border-radius: 0 15px 15px 0;
    background-color: $VeryDarkGray;
    height: 60px;
    cursor: pointer;
    &:hover {
      background-color: $DarkGray;
    }
  }
}
@media only screen and (min-width: 376px) {
  .input-container {
    padding: 40px 0;
    input {
      width: 30%;
      height: 60px;
      border-radius: 15px 0 0 15px;
      padding: 25px;
      color: $VeryDarkGray;
      font-weight: 400;
      &:focus {
        border: none;
      }
    }
    button {
      width: 50px;
      border-radius: 0 15px 15px 0;
      background-color: $VeryDarkGray;
      height: 60px;
      cursor: pointer;
      &:hover {
        background-color: $DarkGray;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .input-container {
    max-width: 90%;
    margin: 20px auto;
    input {
      width: 80%;
    }
    button {
      width: 20%;
      border-radius: 0 15px 15px 0;
      background-color: $VeryDarkGray;
      height: 60px;
      cursor: pointer;
      &:hover {
        background-color: $DarkGray;
      }
    }
  }
}
